@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px !important;
}
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
main {
    height: 100dvh;
    display: flex !important;
    flex-direction: column;
    > * {
        outline: 1px solid black;
    }
    > header {
        height: 17%;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }
    > section {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        > .card-container {
            width: 70%;
            height: 85%;
            display: flex;
            flex-wrap: wrap;
            column-gap: .5rem;
            row-gap: .5rem;
            > div {
                outline: 1px solid black;
                width: 24%;
                height: 50%;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                >img{
                    aspect-ratio: 4/5;
                    width: 75%;
                }
            }
        }
    }
}
